*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.navbar{
  background-color: #434343;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 9.0625em;
  max-width: 100%;
}

.navbar__ul{
  display: flex;
  flex-direction: row;
  background-color: #434343;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.navbar__li{
  list-style: none;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #fff;
}

.navbar__social-links{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navbar__link img{
  width: 35px;
}

/* START */

.image{
  background-image: url("public/andrea-2024.jpeg");
  width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 10px;
  background-position: center;

}
.start{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 100vh;
}

.start__text{
  display: flex;
  flex-direction: column;
  margin-left: 2.5em;
  gap: 10px;
}



.start__header{
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
  font-size: 2.1875rem;
}

.header{
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2.1875rem;
  color: #095447;
}

.start__header, .header, .sub-header{
  margin-left: 1.25em;
}

.sub-header{
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
  font-size: 20px;
  background-color: #16E0BD;
  padding: 0.425em 1.25em;
  border-radius: 5px;
  display: inline;
}